pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { display: inline-block; line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span
  { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
  }
pre.numberSource { margin-left: 3em;  padding-left: 4px; }
div.sourceCode
{ color: #000000; background-color: #f2f2f2;} /*f0efef*/
@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span.al { color: #d08770; } /* Alert */
code span.an { color: #7f9f7f; font-weight: bold; } /* Annotation */
code span.at { } /* Attribute */
code span.bn { color: #b48ead; } /* BaseN */
code span.bu { color: #006fe0 } /* BuiltIn */
code span.cf { color: #0019ff; } /* ControlFlow */
code span.ch { color: #b48ead; } /* Char */
code span.cn { color: #7750ae; font-weight: bold; } /* Constant */
code span.co { color: #8d8d84; } /* Comment */
code span.cv { color: #8d8d84; font-weight: bold; } /* CommentVar */
code span.do { color: #8d8d84; } /* Documentation */
code span.dt { color: #7750ae; } /* DataType */
code span.dv { } /* DecVal */
code span.er { color: #ba36a5; } /* Error */
code span.ex { color: #4c566a; } /* Extension */
code span.fl { color: #4c566a; } /* Float */
code span.fu { color: #2985e5; } /* Function */
code span.im { color: #81a1c1; } /* Import */
code span.in { color: #434c5e; font-weight: bold; } /* Information */
code span.kw { color: #006699; } /* Keyword */
code span.op { color: #ba36a5; } /* Operator */
code span.ot { color: #969696; } /* Other */
code span.pp { color: #d08770; font-weight: bold; } /* Preprocessor */
code span.sc { color: #b48ead; } /* SpecialChar */
code span.ss { color: #008000; } /* SpecialString */
code span.st { color: #008000; } /* String */
code span.va { color: #4c566a; } /* Variable */
code span.vs { color: #008000; } /* VerbatimString */
code span.wa { color: #d0372d; font-weight: bold; } /* Warning */

p code {
    color: #000000;
    background-color: #f0efef;
    font-family: 'Fira Code', monospace;
    font-size: 15px;
    line-height: 18px;
    padding: 2px;
}

.sourceCode {
    color: #2e3440;
    font-family: 'Fira Code', monospace;
    font-size: 15px;
    padding: .5rem;
    border-radius: 10px;
    overflow: auto;
}
